

.lessons {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background:rgba(127, 127, 133, 0.877);

  }
  
.lessons_container {

 height: fit-content;
 justify-content: space-around;
 max-width: 80%;
 margin: 0 auto;
  }



.lesson {
  text-align: center;
  padding: 20px;
  background-color: #dddcdc;
  color: #5d8fb9;
  min-width: 48%;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 22px;
  }

.lesson_title {
  font-size: 28px;
  color: #456ca7;
  font-weight: 300;
}


