.test {
  height: fit-content;
  margin-top: 50px;
  margin-bottom: 50px;
}

.passions_container {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
  flex-direction: column;
  /* border: cadetblue;
  border-style: solid;
  border-width: thin; */
}

.passion_row {
  display: flex;
  justify-content: center;
  /* margin-top: 20px; */
  /* margin-bottom: 20px; */
  /* border: yellow;
  border-style: solid;
  border-width: thin; */
}

.passion_image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.passion {
  position: relative;
  padding: 0;
  margin: 20px;
}
.passion:hover .overlay {
  opacity: 1;
}
.hobby1 {
  background-color:#4682b4;
}
.hobby2 {
  background-color: #ebbfa1;
}

.hobby3 {
  background-color: #a5907f;
}

.hobby4 {
  background-color: #7a9c5f;
}
.passion_text {
  /* border: blue;
  border-style: solid;
  border-width: thin; */
  padding: 20px;
  width: fit-content;
  color: white;
  /* font-size: 20px; */
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}