
.projects {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;

} 


.videos-container {
  display: inline-flex;
  width: 80%;
  margin: 0 auto;
} 

}
.videos { 
  display: flex;
  max-width: 50%;
  }

<iframe width="560" height="315" src="https://www.youtube.com/embed/LhWghYaVf_M" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="test"></iframe>

<iframe width="560" height="315" src="https://www.youtube.com/embed/SJAXLVsVvGU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

